[tool.poetry]
name = "message-db-py"
version = "0.1.0"
description = "The Python interface to the MessageDB Event Store and Message Store"
authors = ["Subhash Bhushan <subhash.bhushan@gmail.com>"]

packages = [
    { include = "message_db" },
]

[tool.poetry.dependencies]
python = "^3.7"
psycopg2 = "^2.9.2"

[tool.poetry.dev-dependencies]
pytest = "^6.2.5"
black = "^21.11b1"
pre-commit = "^2.15.0"
isort = "^5.10.1"
autoflake = "^1.4"
pytest-cov = "^3.0.0"
mypy = "^0.910"
types-psycopg2 = "^2.9.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.coverage.run]
source=["message_db"]
show_missing = true
precision = 2
